{% extends 'base.html' %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'userprofile/css/style.css' %}">
{% endblock %}

{% block title %} Profil {% endblock %}

{% block content %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-12">
                <h1>Profil Sayfası</h1>
                <hr>
                {% if user.is_authenticated %}
                    {{user.get_full_name}} <p>Şuan sana özel profil sayfan gösteriliyor</p>
                    <a class="btn btn-primary" href="{% url 'profile_edit' %}" role="button">Profil Düzenle</a>
                    <a class="btn btn-primary" href="{% url 'add_post' %}" role="button">Gönderi Oluştur</a>
                    <a class="btn btn-primary" href="{% url 'friends_list' %}" role="button">Arkadaşlarım</a>
                    <hr>
                    {% if all_post|length > 0 %}
                        {% for post in all_post%}
                            <div class="card">
                                <div class="card-header">
                                    {{post.owner.username}} paylaştı.
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">{{post.title}}</h5>
                                    <p class="card-text">{{post.post_text}}</p>
                                </div>
                            </div>
                            <br>
                        {% endfor %}
                    {% endif %}
                    
                {% else %}
                    <p>Profil sayfanızı görmek için lütfen giriş yapın.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block js_files %}
    <script src="{% static 'userprofile/js/script.js' %}"></script>
{% endblock %}