{% extends 'base.html' %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'userprofile/css/style.css' %}">
{% endblock %}

{% block title %} Profil {% endblock %}

{% block content %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-12">
                <h1>Profil Düzenle</h1>
                <hr>
                {% if user.is_authenticated %}
                    {{user.get_full_name}} <p>Şuan sana özel profil düzenleme sayfan gösteriliyor</p>
                    <a class="btn btn-success" href="" role="button">Onayla</a>
                    <a class="btn btn-danger" href="{% url 'profile' %}" role="button">İptal</a>
                {% else %}
                    <p>Profilinizi düzenlemek için lütfen giriş yapın.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block js_files %}
    <script src="{% static 'userprofile/js/script.js' %}"></script>
{% endblock %}