{% extends 'base.html' %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
{% endblock %}

{% block title %} Anasayfa {% endblock %}

{% block content %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-12">
                <h1>Anasayfa</h1>
                <hr>
                <form action="" method="GET">
                    <div class="row">
                        <div class="col-4">
                            <input type="text" class="form-control" name="q">
                        </div>
                        <div class="col">
                            <button type="submit" class="btn btn-primary">Ara</button>
                        </div>
                    </div>  
                </form>
                <hr>
                {% include 'feed/partials/_get_post.html' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block js_files %}
    <script src="{% static 'core/js/script.js' %}"></script>
{% endblock %}