{% extends 'base.html' %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
{% endblock %}

{% block title %} Anasayfa {% endblock %}

{% block content %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-12">
                <h1>Anasayfa</h1>
                <hr>
                {% if user.is_authenticated %}
                    {{user.get_full_name}} <p>Şuan sana özel sayfa gösteriliyor</p>
                    <hr>
                    {% include 'feed/partials/_get_post.html' %}
                {% else %}
                    <p>Misafir Anasayfası</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block js_files %}
    <script src="{% static 'core/js/script.js' %}"></script>
{% endblock %}