{% extends 'base.html' %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
{% endblock %}

{% block title %} Anasayfa {% endblock %}

{% block content %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-12">
                <h1>Anasayfa</h1>
                <hr>
                {% if user.is_authenticated %}
                    {{user.get_full_name}} <p>Şuan sana özel sayfa gösteriliyor</p>
                    <hr>
                    {% if all_post|length > 0 %}
                        {% for post in all_post%}
                            <div class="card">
                                <div class="card-header">
                                    {{post.owner.username}} paylaştı.
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">{{post.title}}</h5>
                                    <p class="card-text">{{post.post_text}}</p>
                                </div>
                            </div>
                            <br>
                        {% endfor %}
                    {% endif %}
                {% else %}
                    <p>Misafir Anasayfası</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block js_files %}
    <script src="{% static 'core/js/script.js' %}"></script>
{% endblock %}