{% extends 'base.html' %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'feed/css/style.css' %}">
{% endblock %}

{% block title %} Gönderi Ekle {% endblock %}

{% block content %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-12">
                <h1>Gönderi Ekle</h1>
                <hr>
                {% if user.is_authenticated %}
                    <form action="{% url 'add_post' %}" method="POST">
                        {% csrf_token %}

                        <div class="mb-3">
                            <label for="title" class="form-label">Gönderi Başlığı</label>
                            <input type="text" class="form-control" name="title" value="{{ title }}">
                        </div>
        
                        <div class="mb-3">
                            <label for="title" class="form-label">Gönderi İçeriği</label>
                            <textarea type="textarea" rows="5" class="form-control" name="post_text">{{ post_text }}</textarea>
                        </div>

                        <input class="btn btn-success" type="submit" value="Gönderi Ekle" >
                        <a class="btn btn-danger" href="{% url 'profile' %}" role="button">İptal</a>

                    </form>

                {% else %}
                    <p>Gönderi eklemek için lütfen giriş yapın.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block js_files %}
    <script src="{% static 'feed/js/script.js' %}"></script>
{% endblock %}