{% extends 'base.html' %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'account/css/style.css' %}">
{% endblock %}

{% block title %} Giriş Yap {% endblock %}

{% block content %}
    <div class="container mt-3">
        <div class="col">
            <h1>Giriş Yap</h1>
            <hr>
            <form action="." method="POST">
                {% csrf_token %}

                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        {{error}}
                    </div>
                {% endfor %}

                {% for field in form %}
                    <div class="mb-3 {% if field.errors %} invalid {% endif %}">
                        {% if field.errors %}
                            <div class="alert alert-danger pb-0">
                                {{ field.errors }}
                            </div>
                        {% endif %}
                        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                        {{ field }}
                    </div>
                {% endfor %}

                <input type="submit" value="Giriş Yap" class="btn btn-primary">
            </form>
        </div>
    </div>
{% endblock %}

{% block js_files %}
    <script src="{% static 'account/js/script.js' %}"></script>
{% endblock %}