{% extends 'base.html' %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'account/css/style.css' %}">
{% endblock %}

{% block title %} Kayıt Ol {% endblock %}

{% block content %}
    <div class="container mt-3">
        <div class="col">
            <h1>Kayıt Ol</h1>
            <hr>

            <form action="{% url 'register' %}" method="POST">

                {% csrf_token %}

                {% if error %}
                    <div class="alert alert-danger">
                        {{error}}
                    </div>
                {% endif %}

                <div class="mb-3">
                    <label for="username" class="form-label">Kullanıcı Adı</label>
                    <input type="text" class="form-control" name="username" value="{{ username }}">
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">E-posta</label>
                    <input type="email" class="form-control" name="email" value="{{ email }}">
                </div>

                <div class="mb-3">
                    <label for="firstname" class="form-label">İsim</label>
                    <input type="text" class="form-control" name="firstname" value="{{ firstname }}">
                </div>

                <div class="mb-3">
                    <label for="lastname" class="form-label">Soyisim</label>
                    <input type="text" class="form-control" name="lastname" value="{{ lastname }}">
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Parola</label>
                    <input type="password" class="form-control" name="password">
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Parola Tekrar</label>
                    <input type="password" class="form-control" name="repassword">
                </div>

                <input type="submit" value="register" class="btn btn-primary">

            </form>

        </div>
    </div>
{% endblock %}

{% block js_files %}
    <script src="{% static 'account/js/script.js' %}"></script>
{% endblock %}